
    <%- include('partials/header'); -%>
    <h1>MY home</h1>
    <p><%= text %></p>

    <% posts.forEach( (post) =>{ %>
        <h1><%=post.title%></h1> 
        <p><%=post.content%></p> 
    <%  })  %>



    <%- include('partials/footer'); -%>